<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.AutoBurger.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.AutoBurger.android.ActivityVerHistorialPedidos"></activity>
        <activity android:name="com.AutoBurger.android.EsperarComida" />
        <activity android:name="com.AutoBurger.android.VerPedidoActual" />
        <activity android:name="com.AutoBurger.android.VerDetallesMenu" />
        <activity android:name="com.AutoBurger.android.VerDetallesProducto" />
        <activity android:name="com.AutoBurger.android.FormularioRegistro" />
        <activity android:name="com.AutoBurger.android.ActivityCartaAlimentos" />
        <activity android:name="com.AutoBurger.android.BienvenidaActivity" />
        <activity android:name="com.AutoBurger.android.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>